@model string
<h2>Введите пароль для скачивания файла "@Model"</h2>

<form action="/FileUpload/DownLoadFile" method="post">
    <input type="text" name="fileName" value="@Model" hidden>
    <input type="text" name="password">
    <input type="submit" value="Скачать">
</form>