<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <div class="main">
            <div class="upload-section">
                <form class="upload-form" method="post" enctype="multipart/form-data" action="/FileUpload/Upload">
                    <div class="file-dropzone">
                        <p>Схватите и перенесите сюда ваш файл или</p>
                        <input type="file" class="file-input" id="fileInput" name="file" />
                        <label for="fileInput" class="upload-label">Выбрать файл</label>
                    </div>
                    <div class="button-and-textbox">
                    <div class="textbox-password">
                        <p>Введите пароль для дальнейшей загрузки этого файла:</p>
                        <input class="textbox-enter-password" name="password">
                    </div>
    
                    <button type="submit" class="upload-button"><p>загрузить</p></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>